.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;

  }
  
  .swiper-slide.type {
    background-position: center;
    background-size: cover;
    width: 45% !important;
    border-radius: 1.5rem !important;
  }
  
  

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  